<!DOCTYPE html>

<html id = "html">

<link rel ="stylesheet" href="/brug.css">


<div id = "greybackground">

<video src="/PERF1.mp4" id = "vdi" autoplay muted loop>


</video>



</div>



<h2 class = "fun" id = "name">

Nathan Johnson




<h3 class = "small" id = "body">

    Front end Web Developer | Oregon USA

   
</h3 >

<h3 id = "asd" class = "small">

    ___


 
</h3>




<h3 id = "body1">
    An aspiring web developer with a passion for creating dynamic and user-friendly websites. With a strong foundation in HTML, CSS, and JavaScript, I enjoy turning complex problems into simple, beautiful, and intuitive designs.<p></p> I’m constantly learning and exploring new technologies to enhance my skills and bring innovative ideas to life. When I’m not coding, you can find me video editing or engage in a video game activity, experimenting with mods, or diving into other creative projects. 

</h3>



    


</h2>



<button class = "buttons">

   <img id = "inst" src="https://www.citypng.com/public/uploads/preview/black-and-white-outline-instagram-app-logo-icon-7017516951369307x990iaok2.png">



</button>


<button class = "buttons">

<img id = "in" src = "https://w7.pngwing.com/pngs/1012/692/png-transparent-computer-icons-linkedin-social-media-social-media-text-rectangle-logo.png">

</button>

<button class = "buttons">

    <img id = "twitter" src = "https://i.pinimg.com/originals/72/52/a7/7252a7a2b8fa3ab9bd2294b0edfe96ba.jpg">
    
    </button>


<wrapper id = "boxxx">
    <img class = "container1" src="https://banner2.cleanpng.com/20190417/ck/kisspng-computer-icons-html5-scalable-vector-graphics-html5-vector-html-frames-illustrations-hd-images-p-5cb73cb62678b1.6055216715555125021576.jpg">
    <h3 class = "h333">
        
        HTML

    </h3>
    

    
    <img class = "container1" src="https://cdn-icons-png.freepik.com/256/732/732028.png?semt=ais_hybrid">


    <h3 class = "h333">


        
      CSS
    </h3>
    
    <img  class = "container1" src  = "https://cdn.freebiesupply.com/logos/large/2x/javascript-logo-black-and-white.png">
    <h3 class = "h333">


        
        JavaScript
      </h3>
    

</wrapper>






<div id = "box2">


    <h2 id = "Header">

        Personal Projects (WIP)

    </h2>



</div>



<div id = "box3">
<h2 id = "name2" >

    Nathan Johnson


    <h3 id = "desc">

        I would love to hear from you! Whether you have a question, feedback, or just want to say hello, feel free to reach out to me.

    </h3>


    <img id = "phone" src="https://png.pngtree.com/png-clipart/20191121/original/pngtree-phone-icon-png-image_5105607.jpg">

    <h3 id = "number">
        971-212-9909
    </h3>

    <img id = "email" src="https://i.etsystatic.com/26743355/r/il/69fb44/3074704892/il_570xN.3074704892_qh7k.jpg">

    <h3 id = "email1">
        nathanjohnso164@gmail.com
    </h3>

</h2>

<input placeholder="Name" id = "input1">
<input placeholder="Email" id = "inputemail">
<input  placeholder = "Message" id = "message">


<button id = "send">
Send Message


</button>
</div>



</html>